@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 50px;

  .starter-template {
    padding-top: 40px;
    color: #555555;

    h1 {
      margin: 0 0 30px;
    }

    .bg-danger {
      padding: 10px;
      border-radius: 5px;
    }

    .chat-block {
      border: 1px solid #ddd;
      min-height: 500px;
      border-radius: 4px;
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;

      #chatMessages {
        padding: 10px 15px;
        height: 500px;
        overflow: auto;

        .message-block {
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 5px;
          background: #f8f8ff;
          word-wrap: break-word;

          .header div {
            display: inline-block;
          }

          .date {
            float: right;
            .glyphicon-remove {
              color: #a94442;
              cursor: pointer;
            }
          }
        }
      }
    }

    .form-block {
      .btn-primary {
        float: right;
      }
    }

    .user-block {
      .counter {
        background-color: #337ab7;
        border-radius: 10px;
        color: #fff;
        float: right;
        padding: 0 5px;
      }
    }
  }

  .error-page {
      color: #B0BEC5;
      font-family: 'Lato';
      text-align: center;
      font-size: 72px;
      margin-top: 40px;

  }
}