@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 50px;

  .starter-template {
    padding-top: 40px;

    .bg-danger {
      padding: 10px;
      border-radius: 5px;
    }
  }
}